{% set subed_private_net = private_net[:-1] %}
server-name "{{ 'dhcp.' ~ domain_name }}";

ddns-update-style none;

{# ntp.ubuntu.com #}
option ntp-servers 91.189.89.199;

subnet {{ private_net }} netmask {{ private_mask }} {
	authoritative;
	
	default-lease-time 600;
	max-lease-time 7200;
	
	range {{ subed_private_net ~ 2 }} {{ subed_private_net ~ (host_number + 2) }};
	
	option domain-name "{{ domain_name }}";
	option domain-name-servers {{ master_private }};
	option routers {{ master_private }};

  {% for host in groups['workers'] %}
    host {{ host }}{
      hardware ethernet {{ hostvars[host].mac }};
      fixed-address {{ hostvars[host].ansible_host }};
    }
  {% endfor %}
}