auto {{ public_nic }} {{ private_nic }} 

iface {{ public_nic }} inet dhcp 

iface {{ private_nic }} inet static
        address {{ master_private }}
        netmask {{ private_mask }}
        pre-down iptables-save > /etc/iprules.v4
        post-up  iptables-restore < /etc/iprules.v4