apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ ca }}
    server: {{ api_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: user
  name: default
current-context: default
