[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart={{ binary_src }}kubelet \
  --allow-privileged=true \
  --cloud-provider= \
  --cluster-dns={{ master_private }} \
  --cluster-domain=cluster.local \
  --container-runtime=docker \
  --network-plugin=kubenet \
  --kubeconfig={{ config_path }} \
  --serialize-image-pulls=false \
  --fail-swap-on=false \
  --cgroups-per-qos=false \
  --enforce-node-allocatable="" \
  --client-ca-file={{ ca }}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target