[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{ binary_src }}kube-proxy \
  --master={{ api_addr }} \
  --kubeconfig={{ config_path }} \
  --proxy-mode=iptables
  
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target