apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', local_cert ~ '/ca_cert') }}
    server: {{ master_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubernetes-admin
  name: kubernetes-admin@{{ cluster_name }}
current-context: kubernetes-admin@{{ cluster_name }}
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: {{ lookup('file', local_cert ~ '/main_cert') }}
    client-key-data: {{ lookup('file', local_cert ~ '/main_key') }}
