apiVersion: v1
clusters:
- cluster:
    server: {{ master_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: system:kube-controller-manager
  name: system:kube-controller-manager@{{ cluster_name }}
current-context: ""
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user: {}
