apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', local_cert ~ '/ca_cert') }}
    server: {{ master_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: system:kube-controller-manager
  name: system:kube-controller-manager@{{ cluster_name }}
current-context: system:kube-controller-manager@{{ cluster_name }}
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user:
    client-certificate-data: {{ lookup('file', local_cert ~ '/sa_cert') }}
    client-key-data: {{ lookup('file', local_cert ~ '/ca_key') }}
