[Unit]
Description=etcd
Documentation=https://coreos.com/etcd/docs/latest/
After=network.target

{% set peers_urls = etcd_addr[:-(etcd_client_port | length)] ~ etcd_peer_port %}
[Service]
Environment="ETCD_UNSUPPORTED_ARCH=arm64"
Type=notify
ExecStart=/usr/bin/etcd --name master \
  --cert-file={{ remote_cert ~ "kubernetes.pem" }} \
  --key-file={{ remote_cert ~ "kubernetes-key.pem" }} \
  --peer-cert-file={{ remote_cert ~ "kubernetes.pem" }} \
  --peer-key-file={{ remote_cert ~ "kubernetes-key.pem" }} \
  --trusted-ca-file={{ remote_cert ~ "ca.pem" }} \
  --peer-trusted-ca-file={{ remote_cert ~ "ca.pem" }} \
  --listen-client-urls {{ etcd_addr }} \
  --advertise-client-urls {{ etcd_addr }} \
  --initial-advertise-peer-urls {{ peers_urls }} \
  --listen-peer-urls {{ peers_urls }} \
  --initial-cluster-token {{ "etcd-cluster-" ~ (range(1,100) | random) }} \
  --initial-cluster master={{ peers_urls }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd 

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

