[Unit]
Description=etcd
Documentation=https://coreos.com/etcd/docs/latest/
After=network.target

{% set peers_urls = etcd_addr[:-(etcd_client_port | length)] ~ etcd_peer_port %}
[Service]
Environment="ETCD_UNSUPPORTED_ARCH={{ hardware_architechture }}"
Environment="ETCDCTL_ENDPOINTS={{ etcd_addr }}"
Type=notify
ExecStart={{ binary_src }}etcd \
  --name=master \
  --cert-file={{ cert }} \
  --key-file={{ key }} \
  --trusted-ca-file={{ ca }} \
  --peer-cert-file={{ cert }} \
  --peer-key-file={{ key }} \
  --peer-trusted-ca-file={{ ca }} \
  --listen-client-urls={{ etcd_addr }} \
  --advertise-client-urls={{ etcd_addr }} \
  --initial-advertise-peer-urls={{ peers_urls }} \
  --listen-peer-urls={{ peers_urls }} \
  --initial-cluster-token="etcd-cluster-1" \
  --initial-cluster master={{ peers_urls }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

