[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart={{ binary_src }}kube-controller-manager \
  --cluster-name={{ cluster_name }} \
  --master={{ api_addr }} \
  --bind-address={{ master_private }} \ 
  --allocate-node-cidrs=true \
  --cluster-cidr=10.200.0.0/16 \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-account-private-key-file={{ key }} \
  --leader-elect=true \
  --client-ca-file={{ ca }}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target