[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/bin/kube-scheduler \
  --leader-elect=true \
  --master={{ api_addr }}
  --bind-address={{ master_private }} 
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target