[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart={{ binary_src }}kube-apiserver \
  --apiserver-count=1 \
  --allow-privileged=true \
  --bind-address={{ master_private }} \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-node-port-range=30000-32767 \
  --etcd-servers={{ etcd_addr }} \
  --etcd-cafile={{ ca }} \
  --tls-cert-file={{ cert }} \
  --tls-private-key-file={{ key }} \
  --kubelet-certificate-authority={{ ca }} \
  --authorization-mode=ABAC \
  --authorization-policy-file={{ remote_src ~ "auth.json" }} \
  --client-ca-file={{ ca }} 
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target


