[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart={{ binary_src }}kube-scheduler \
  --master={{ api_addr }} \
  --leader-elect=true \
  --bind-address={{ master_private }} \ 
  --client-ca-file={{ ca }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target