apiVersion: v1
clusters:
- cluster:
    server: {{ master_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: system:kube-scheduler
  name: system:kube-scheduler@{{ cluster_name }}
current-context: ""
kind: Config
preferences: {}
users:
- name: system:kube-scheduler
  user: {}
